body {
    margin: 0px;
}

.top {
    display: flex;
}

main {
    width: 80vw;
    height: 80vh;
    position: relative;
    background-color: #6699ff;
}

main > div.field {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: center;
}

main > div.controls {
    visibility: hidden;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.size, .density, .medicine, .role {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

div.size > div, div.density > div, div.medicine > div, div.role > div {
    height: 7vh;
    width: 13vw;
    padding: 5px;
    background-color: khaki;
}

div > div.active {
    background-color: #22aa22;
}

div.start {
    height: 9vh;
    width: 15vw;
    background-color: #22aa22;
}

.arrow-up {
    transform: rotate(90deg);
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-down {
    transform: rotate(270deg);
}

aside {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 80vh;
    justify-content: space-around;
    align-items: center;
}

.aside {
    height: 70%;
    font-size: 20px;
    padding: 10px 20px;
    font-family: sans-serif;
}

content {
    background-color: khaki;
    overflow: auto;
    display: block;
    height: 20vh;
}

@media screen and (max-width: 1024px) {
    .top {
        display: block; 
    }
    main {
        width: 100%;
        height: 60vh;

    }
    aside {
        flex-direction: row;
        width: 100%;
        height: 20vh;
    }
    aside > img {
        width: 80%;
        height: 80%;
    }
    .aside {
        font-size: 12px;
    }
}

@media screen and (max-height: 756px) {
    content {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    .top {
        display: flex;
    }
    main {
        width: 60%;
        height: 100vh;

    }
    aside {
        flex-direction: column;
        width: 39%;
        height: 100vh;
    }
    aside > img {
        width: 80%;
    }
    .aside {
        font-size: 12px;
    }
}