body {
    font-family: Cambria;
}

h3, h2 {
    color: orange;
}

nav a {
    color: white;
}

header {
    border-bottom: solid 1px white;;
    background-image: url("../img/header_bg.jpg");
}

.container > div, .container > a {
    margin-bottom: 10px;
}

header .container {
    display: flex;
    color: white;
    align-items: flex-end;
    justify-content: space-around;
}

header .container a {
    color: white;
}

.body {
    padding: 20px;
    text-align: center;
    background-image: url("../img/body_bg.jpg");
}

.body > * {
    display: inline-block;
    vertical-align: top;

}

#leftbar, #rightbar {
    text-align: left;
}

#leftbar li, #rightbar li {
    list-style: url(../img/left_li.png);
}


.top-menu {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.icon {
    opacity: 0.5;
    margin: auto;
}

.option1 {
    width: 42px;
    height: 33px;
    background: url("../img/vector.png") no-repeat;
}

.option2 {
    width: 43px;
    height: 30px;
    background: url("../img/vector.png") no-repeat;
    background-position: 0 -33px;
}

.option3 {
    width: 35px;
    height: 36px;
    background: url("../img/vector.png") no-repeat;
    background-position: 0 -63px;
}

.option4 {
    width: 43px;
    height: 35px;
    background: url("../img/vector.png") no-repeat;
    background-position: 0 -99px;
}

.option5 {
    width: 25px;
    height: 30px;
    background: url("../img/vector.png") no-repeat;
    background-position: 0 -134px;
}

.option6 {
    width: 35px;
    height: 35px;
    background: url("../img/vector.png") no-repeat;
    background-position: 0 -164px;
}

.icon.active {
    opacity: 1;
}

.button {
    color: white;
    padding: 5px;
    margin-top: 7px;
}

.button.active {
    border-radius: 14px;
    background-color: white;
    color: blue;
}

.option > a > * {
    margin: auto;
}

.relative {
    position: relative;
}

.relative > img {
    width: 100%;
}

.discount_bg {
    position: relative;
    width: 100%;
}

.discount_bottom {
    position: relative;
    margin: 0 5px;
    width: 97%;
}

.discount_menu {
    position: relative;
}

.discount_menu > nav {
    position: relative;
}

.discount_header {
    position: relative;
    color: white;
}

.option_nav {
    display: inline-block;
    bottom: 0px;
    padding: 5px 0;
    width: 18%;
}

.option_nav > * {
    color: orange;
    margin: auto 10px;
}

.active_nav {
    height: 60px;
    background: url(../img/tab_selected.png) no-repeat;
}

.active_nav > * {
    color: white;
}

.discount_body {
    position: relative;
    margin: auto;
}

.option_tab {
    display: flex;
    justify-content: space-evenly;
}

#discount_app {
    display: none;
}

#discount_houses {
    display: none;
}

#discount_rest {
    display: none;
}

#discount_n-club {
    display: none;
}

@media screen and (min-width: 768px) {
    #leftbar, #rightbar {
        width: 140px;
        font-size: 65%;
    }
    
    section {
        width: 400px;
    }

    .discount_bg {
        top: -82px;
    }

    .discount_bottom {
        bottom: 245px;
    }

    .discount_menu {
        height: 370px;
    }

    .discount_menu > nav {
        height: 60px;
        top: -460px;
    }

    .discount_header {
        top: -10px;
    }

    .discount_body {
        bottom: 450px;
    }

    .active_nav {
        height: 60px;
    }
}

@media screen and (min-width: 992px) {
    #leftbar, #rightbar {
        width: 220px;
        font-size: 100%;
    }
    
    section {
        width: 450px;
    }

    .discount_bg {
        top: -84px;
    }

    .discount_bottom {
        bottom: 267px;
    }

    .discount_menu {
        height: 370px;
    }

    .discount_menu > nav {
        height: 60px;
        top: -500px;
    }

    .discount_body {
        bottom: 475px;
    }

    .active_nav {
        height: 60px;
    }
}

@media screen and (min-width: 1280px) {
    #leftbar, #rightbar {
        width: 300px;
        font-size: 100%;
    }
    
    section {
        width: 600px;
    }

    .discount_bg {
        top: -92px;
    }

    .discount_bottom {
        bottom: 335px;
    }

    .discount_menu {
        height: 370px;
    }

    .discount_menu > nav {
        height: 60px;
        top: -620px;
    }

    .discount_body {
        bottom: 570px;
    }

    .active_nav {
        height: 40px;
    }
}

.copyright {
    vertical-align: bottom;
    text-align: right;
}
footer {
    height: 17px;
    background-image: url(../img/footer_bg.png);
}