@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
    margin: 0;
    background-color: #000000;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.container {
    max-width: 1280px;
    background-color: #1C1C1C;
    margin: 80px auto;
    border-radius: 15px;
    overflow: hidden;
}

.container > * {
    padding: 4%;
}

.container > *:nth-child(2n) {
    background-color: #222222;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 45%;
    padding-right: 4%;
}

#position_and_name {
    text-align: right;
}

#expertise_badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.badge {
    width: 150px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    background-color: #7777ff;
    margin: 25px 10px 0 10px;
    position: relative;
    overflow: hidden;
}

#image {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

#image > img {
    max-width: 35vw;
}

@media screen and (max-width: 715px) {
    .container {
        max-width: 90%;
    }

    #header {
        flex-direction: column;
    }

    #title {
        max-width: 100%;
        padding-right: 0;
    }

    .badge {
        animation: appearance 1s;
    }

    .badge:nth-child(2) {
        animation-delay: 0.2s;
    }

    .badge:nth-child(3) {
        animation-delay: 0.3s;
    }

    .badge:nth-child(4) {
        animation-delay: 0.4s;
    }

    .badge:nth-child(5) {
        animation-delay: 0.5s;
    }

    #image {
        margin: 40px auto;
        width: 80%;
    }

    #image > img {
        max-width: 100%;
        height: auto;
    }

    article {
        flex-direction: column;
    }
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

#competencies-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.card {
    background-color: #FFFFFF;
    color: black;
    width: 200px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: 0 0 5px white;
    animation: appearance 0.7s;
}

@keyframes appearance {
    0% {transform: scale(0);}
    75% {transform: scale(1.1);}
    100% {transform: scale(1);}
}

.card > img {
    display: block;
    height: 100px;
    margin: 10px auto;
}

.chart-item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #333333;
}

.chart-item:last-child {
    border-bottom: none;
}

.chart-item > h4 {
    min-width: 100px;
}

nav > * {
    display: inline-block;
}

nav li {
    padding: 12px 30px;
    border-radius: 7px;
    background-color: #1C1C1C;
    margin-right: 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}

nav li:before, .badge:before {
    content: '';
    width: 7px;
    height: 170px;
    background-color: #fff;
    position: absolute;
    left: -60px;
    top: -40px;
    transform: rotate(-50deg);
    animation: blink 1.5s infinite;
}

nav li:after, .badge:after {
    content: '';
    width: 2px;
    height: 170px;
    background-color: #fff;
    position: absolute;
    left: -20px;
    top: -40px;
    transform: rotate(-50deg);
    animation: blink 1.5s infinite;
}

nav li:hover:after, nav li:hover:before, .badge:hover:after, .badge:hover:before {
    animation: none;
}

nav li:hover, .badge:hover {
    transform: scale(1.05);
}

@keyframes blink {
    100% {left: 360px }
}

li > a {
    font-weight: bold;
}

li {
    list-style: none;
}

content > section.inactive {
    display: none;
}

section {
    padding: 20px;
}

article {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid #333;
}

article:last-child {
    border-bottom: none;
}

.page_title {
    min-width: 250px;
}

.page_description {
    width: 100%;
    text-align: left;
}

@keyframes burger {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

@media screen and (max-width: 425px) {
    nav {
        background-color: #1C1C1C;
        border-radius: 15px;
    }

    nav li {
        display: block;
        margin-right: 0;
    }
}