body {
    font-family: 'Work Sans', sans-serif;
    font-size: 13px;
    margin: 0px;
    /* background: url('img/01_homepage.png'); */
}

.none {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: url('img/header_bg_1.jpg') /*url('img/header_bg_2.jpg') url('img/header_bg_3.jpg')*/;
    background-size: cover;
    text-align: center;
    /* background-color: rgb(75, 104, 126); */
}

.navigation {
    display: flex;
    align-items: baseline;
    margin: 25px;
    border-bottom: 1px solid white;
    padding-bottom: 25px;
}

.navigation > *:first-child {
    height: 30px;
    margin-right: 120px;
}

.navigation > *:last-child {
    margin-right: 0px;
}

nav > * {
    padding-right: 60px;
    color: white;
    text-decoration: none;
}

nav > *:last-child {
    margin-right: 0px;
}

.button {
    vertical-align: middle;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px;
    margin-right: 20px;
}

.login {
    border: 1px solid lightblue;
    background-color: transparent;
    color: white;
}

.register {
    background: green;
    color: white;
    border: none;
}

.arrow-right {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-left: 8px solid blue;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 0px solid transparent;
}

.language-menu {
    position: absolute;
    top: 30px;
    right: 50px;
}

.language-menu > * {
    display: none;
}

.active {
    display: initial;
}

/* font-family: 'Montserrat', sans-serif; 
   font-family: 'Raleway', sans-serif;       */