div, a {
    margin: 5px;
    padding: 5px;
}

body {
    margin: 0;
}

header {
    background: lightsalmon;
    text-align: center;
}

.head {
    margin: 0;
}

.head > img {
    align-self: center;
    width: auto;
    height: 140px;
}

nav {
    background-color: lightcoral;
}

nav > a {
    display: inline-block;
}

content > * {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
}

