body {
    margin: 0px;
}

.top {
    display: flex;
}

main {
    width: 80%;
    height: 80vh;
    position: relative;
    background-color: #6699ff;
    overflow-x: scroll;
    overflow-y: scroll;
}

.tile {
    display: inline-block;
}

main > div.controls {
    position: fixed;
    right: 5px;
    bottom: 5px;
}

.arrow-up {
    transform: rotate(90deg);
}

.arrow-right {
    transform: rotate(180deg);
}

.arrow-down {
    transform: rotate(270deg);
}

.container {
    margin: -4px;
}

aside {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 80vh;
}
content {
    background-color: khaki;
    overflow: auto;
    display: block;
    height: 20vh;
}