body {
    background-color: #555;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    padding: 20px;
    width: 100%;
}

h1 {
    text-align: center;
}

.instructions {
    margin-left: 20%;
}

.description {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.description > p {
    display: inline-block;
    margin: 0px 25px;
}

.socket {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 20px;
    background-image: linear-gradient(45deg, #333, black);
    border-radius: 10px;
}

.lamp {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: radial-gradient(farthest-corner at 60% 40%, #333, black);
    border-radius: 7.5px;
}

.lamp.cow {
    background-image: radial-gradient(farthest-corner at 60% 40%, #44f, blue);
}

.lamp.bull {
    background-image: radial-gradient(farthest-corner at 60% 40%, #4f4, darkgreen);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    display: flex;
    align-items: center;
}

.slot {
    padding: 2px;
    margin: 10px 2px;
    background-image: linear-gradient(60deg, #333, black, black);
}

.digit {
    background-color: #111;
    margin: 2px;
    border-right: dashed 4px #333;
}

.arrowUp, .arrowDown {
    padding: 7px 10px;
}

.arrow-up {
    border-top: 0px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 8px solid #333;
}

.figure {
    font-size: 48px;
    padding: 2px 10px;
    font-weight: bold;
    border-top: solid 1px black;
    background-image: linear-gradient(180deg, #111, black);
}

.arrow-down {
    border-bottom: 0px solid transparent;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 8px solid #333;
}

.tries {
    margin: 10px 0px;
    visibility: hidden;
}

.signals {
    display: flex;
    padding: 20px 0px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    background-color: green;
    border-radius: 5px;
    border: groove 2px darkgreen;
}