body > div {
    background-image: url(images/img/bg.jpg);
    filter: hue-rotate(180deg);
    padding: 10px;
}

.container {
    padding: 0px;
    border-radius: 5px;
    background-color: cornsilk;
}

.top-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}


nav a {
    color: black;
    margin-left: 15px;
}

.top-nav > * {
    margin: 10px 0px;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: inline-block;
    }
    .menu-detailed {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .menu-icon {
        display: none;
    }
    .menu-detailed {
        display: inline-block;
    }
}

.header {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bla-bla-bla {
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    height: 100vmin;
    background: url(images/img/hero-2.jpg) 100%;
    background-position: center bottom;
    background-size: cover;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
}

.block {
    padding-top: 30px;
    padding-bottom: 30px;
}

.icon {
    text-align: center;
    width: 40%;
}